@model ServerForm

@{
    ViewData["title"] = "4th Wall Cafe : Edit Server";
}

<h2 class="display-3">Edit Server</h2>
<form asp-controller="Managing" asp-action="EditServer" method="post" class="w-100">
    @Html.AntiForgeryToken()
    <div>
        <label asp-for="LastName" class="form-label"></label>
        <input asp-for="LastName" class="form-control">
        <span asp-validation-for="LastName" class="text-danger"></span>
    </div>
    <div>
        <label asp-for="FirstName" class="form-label"></label>
        <input asp-for="FirstName" class="form-control">
        <span asp-validation-for="LastName" class="text-danger"></span>
    </div>
    <div>
        <label asp-for="DoB" class="form-label"></label>
        <input asp-for="DoB" class="form-control"/>
        <span asp-validation-for="DoB" class="text-danger"></span>
    </div>
    <div class="d-flex mt-3 gap-5">
        <button type="submit" class="btn btn-primary">Save</button>
        <a asp-controller="Managing" asp-action="Servers">Go Back</a>
    </div>
</form>