@{
    ViewData["Title"] = "Home";
}

<main>
    <div class="px-4 py-5 my-5 text-center">
        <h1 class="display-5 fw-bold text-body-emphasis">4th Wall Cafe</h1>
        <h2 class="display-2 fw-bold text-body">Reports and Management Application</h2>
    </div>
</main>
